<app-content-wrapper>
  <div>
  </div>
  <div>
    <!-- Basic information -->
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div class="p-3 row justify-content-end">
        <button class="btn btn-success btn-sm" type="submit" [disabled]="formGroup.invalid">
          <i class="bi bi-save"></i>
          Save
        </button>
      </div>
      <div>
        <label class="form-label small">
          Title
        </label>
        <input class="form-control form-control-sm" type="text" maxlength="255" formControlName="title"/>
      </div>
    </form>
  </div>
  <!-- Topic selection -->
  <div class="my-2">
    <app-topic-selector (onTopicSelection)="topicSelected=$event"></app-topic-selector>
  </div>
  <!-- Questions list -->
  <div *ngIf="topicSelected">
    <app-questions-list-editor [questionnaireQuestions]="questionnaireQuestions" [topic]="topicSelected"></app-questions-list-editor>
  </div>
</app-content-wrapper>
