<div class="row my-3">
  <div class="col-4">
    <img class="img-thumbnail" [src]="question.image | imageSourceResolver"  alt="Question image"/>
  </div>
  <div class="col-8">
    <div class="row">
      <h6 class="h6">{{question.title}}</h6>
    </div>
    <div class="row font-italic">
      <div class="col">
        <p class="small m-0" *ngFor="let answer of question.answers">
          -{{answer.text}}
        </p>
      </div>
    </div>
    <div class="row small text-secondary mt-2" *ngIf="question.observations">
      {{question.observations}}
    </div>
    <div>
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>
</div>
