<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <a class="navbar-brand" href="#">
    Questions Manager
    <span>
      {{appVersion}}
    </span>
  </a>
  <div class="navbar-collapse border-left border-secondary mr-3">
    <ul class="navbar-nav">
      <!-- Question selector -->
      <div class="nav-item" ngbDropdown #questionDropdown="ngbDropdown">
        <button class="btn btn-outline-dark text-secondary"
                type="button"
                ngbDropdownAnchor
                (focus)="questionDropdown.open()">
          {{'questions' | translate}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem [routerLink]="'question/create'">
            {{'create' | translate}}
          </button>
          <button ngbDropdownItem [routerLink]="'question/list'">
            {{'list' | translate}}
          </button>
        </div>
      </div>
      <!-- Help selector -->
      <div class="nav-item" ngbDropdown #helpDropdown="ngbDropdown">
        <button class="btn btn-outline-dark text-secondary"
                type="button"
                ngbDropdownAnchor
                (focus)="helpDropdown.open()">
          {{'helps' | translate}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem [routerLink]="'help/create'">
            {{'create' | translate}}
          </button>
          <button ngbDropdownItem [routerLink]="'help/list'">
            {{'list' | translate}}
          </button>
        </div>
      </div>

      <!-- Questionnaire selector -->
      <div class="nav-item" ngbDropdown #questionnaireDropdown="ngbDropdown">
        <button class="btn btn-outline-dark text-secondary"
                type="button"
                ngbDropdownAnchor
                (focus)="questionnaireDropdown.open()">
          {{'questionnaires' | translate}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem [routerLink]="'questionnaire/create'">
            {{'create' | translate}}
          </button>
          <button ngbDropdownItem [routerLink]="'questionnaire/list'">
            {{'list' | translate}}
          </button>
        </div>
      </div>

    </ul>
  </div>
</nav>
