<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Questions Manager
  </a>
  <div class="navbar-collapse border-left border-secondary mr-3">
    <ul class="navbar-nav">

      <!-- Question selector -->
      <div class="nav-item" ngbDropdown #questionDropdown="ngbDropdown">
        <button class="btn btn-outline-dark text-secondary"
                type="button"
                ngbDropdownAnchor
                (focus)="questionDropdown.open()">
          Questions
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem [routerLink]="'question/create'">
            Create
          </button>
          <button ngbDropdownItem [routerLink]="'question/list'">
            List
          </button>
        </div>
      </div>

      <!-- Help selector -->
      <div class="nav-item" ngbDropdown #helpDropdown="ngbDropdown">
        <button class="btn btn-outline-dark text-secondary"
                type="button"
                ngbDropdownAnchor
                (focus)="helpDropdown.open()">
          Helps
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem [routerLink]="'help/create'">
            Create
          </button>
          <button ngbDropdownItem [routerLink]="'help/list'">
            List
          </button>
        </div>
      </div>

      <!-- Questionnaire selector -->
      <div class="nav-item" ngbDropdown #questionnaireDropdown="ngbDropdown">
        <button class="btn btn-outline-dark text-secondary"
                type="button"
                ngbDropdownAnchor
                (focus)="questionnaireDropdown.open()">
          Questionnaire
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem [routerLink]="'questionnaire/create'">
            Create
          </button>
          <button ngbDropdownItem [routerLink]="'questionnaire/list'">
            List
          </button>
        </div>
      </div>

    </ul>
  </div>
</nav>
