<div>
  <div class="row my-4">
    <div class="col text-end">
      <button class="btn btn-sm btn-primary" (click)="selectQuestions()">
        <i class="bi bi-plus-square"></i>
        Add question
      </button>
    </div>
  </div>
  <div class="row">
    <!-- Sortable questions list -->
    <div class="col bg-light">
      <div class="row p-3 m-3 bg-white" *ngFor="let questionnaireQuestion of questionnaireQuestions; let i = index; trackBy: trackByQuestionnaireQuestions">
        <div class="col-10">
          <div class="row small font-weight-bold text-secondary pl-2">
            {{questionnaireQuestion.position}}.{{questionnaireQuestion.question.title}}
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col text-end">
              <button class="btn btn-sm btn-danger" type="button" (click)="questionnaireQuestions.splice(i, 1)">
                <i class="bi bi-trash"></i>
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Questions selector modal -->
  <ng-template #questionsSelectorModal let-modal>
    <app-spinner-loader [loader]="loader">
      <div content class="row p-4">
        <div class="col-12">
          <!-- Questions list -->
          <div class="row my-4 p-3 border border-light" *ngFor="let question of questionsAvailable">
            <div class="col">
              <div class="row">
                <h6 class="h6">{{question.title}}</h6>
              </div>
              <div>
                <p class="m-0 small text-secondary" [ngClass]="{'text-success': answer.result, 'text-danger': !answer.result}" *ngFor="let answer of question.answers">
                  {{answer.text}}
                </p>
              </div>
              <div class="row">
                <div class="col text-end">
                  <button class="btn btn-sm btn-primary" type="button" (click)="select(question); modal.close()">
                    Select
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-spinner-loader>
  </ng-template>
</div>
