<div class="row">
  <div class="col">
    <div class="form-group">
      <label class="form-label small">
        Book
      </label>
      <select
        class="form-select form-select-sm"
        [(ngModel)]="bookSelected"
        [ngModelOptions]="{standalone: true}"
        (change)="onChangeBook()"
        [disabled]="loader">
        <option [ngValue]="book" *ngFor="let book of books; let index = index">
          {{book.title}}
        </option>
      </select>
    </div>
  </div>
</div>
