<div class="container bg-white my-5 py-4 px-5">
  <app-spinner-loader [loader]="loader">
    <div content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-4 border-bottom">
          <h4 class="h4">
            {{'newQuestion' | translate}}
          </h4>
        </div>
        <div class="row">
          <div class="col-4">
            <app-topic-selector (onTopicSelection)="onTopicSelected($event)"></app-topic-selector>
          </div>
          <div class="col-4">
            <app-book-selector [topicSelected]="topicSelectionSubject" (onBookSelection)="onBookSelected($event)"></app-book-selector>
          </div>
          <div class="col-4">
            <app-lesson-selector [bookSelected]="bookSelectionSubject" (onLessonSelection)="lessonSelected=$event"></app-lesson-selector>
          </div>
        </div>
        <!-- Question image-->
        <div class="form-group my-3">
          <div class="input-group" *ngIf="image; else uploader">
            <input type="text" class="form-control form-control-sm" [disabled]="true" [value]="image.filename">
            <div class="input-group-append">
              <button class="btn btn-danger btn-sm" type="button" (click)="image=null">
                <i class="bi bi-trash"></i>
                {{'deleteImage' | translate}}
              </button>
            </div>
          </div>
          <ng-template #uploader>
            <app-image-uploader (onImageUploaded)="image=$event"></app-image-uploader>
          </ng-template>
        </div>
        <!-- Question title -->
        <div class="form-group my-2">
          <label class="form-label small">
            {{'title' | translate}}
          </label>
          <textarea class="form-control" formControlName="questionTitle" maxlength="255"></textarea>
        </div>
        <!-- Answers -->
        <div class="pt-4" formArrayName="answers">
          <div *ngFor="let answer of answers().controls; let i = index;">
            <div class="row align-items-center my-2" [formGroupName]="i">
              <!-- Answer text -->
              <div class="col-8">
                <div class="form-group">
                  <label class="small form-label">
                    {{'answerNumber' | translate : {number: (i+1)} }}
                  </label>
                  <input class="form-control form-control-sm" type="text" formControlName="text" maxlength="255"/>
                </div>
              </div>
              <!-- Answer result -->
              <div clasS="col-2">
                <div class="row align-items-end">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="result"/>
                    <label class="form-check-label small">
                      {{'rightAnswer' | translate}}
                    </label>
                  </div>
                </div>
              </div>
              <!-- Remove -->
              <div class="col-2 text-end">
                <button class="btn btn-danger btn-sm" type="button" (click)="removeAnswer(i)">
                  <i class="bi bi-trash"></i>
                  {{'deleteAnswer' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-end my-3">
          <div class="col text-end">
            <button type="button" class="btn btn-primary btn-sm" (click)="addNewAnswer()">
              <i class="bi bi-plus-square"></i>
              {{'addAnswer' | translate}}
            </button>
          </div>
        </div>
        <!-- Help -->
        <div class="my-3">
          <app-help-selector [topic]="topicSelected" (onSelectHelp)="addHelp($event)" *ngIf="topicSelected"></app-help-selector>
        </div>
        <div class="row" *ngIf="helps.length">
          <div class="col px-2">
            <div class="row py-2 border-bottom">
              <h6 class="h6">
                {{'helpsForQuestion' | translate}}
              </h6>
            </div>
            <div class="row py-3" *ngFor="let help of helps">
              <div class="col-9 small font-italic">
                {{help.title}}
              </div>
              <div class="col-3 align-self-center">
                <div class="row justify-content-end">
                  <button class="btn btn-danger btn-sm" type="button">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Observations -->
        <div class="form-group my-3">
          <label class="form-label small">
            {{'observations' | translate}}
          </label>
          <input class="form-control form-control-sm" formControlName="questionObservations" maxlength="255"/>
        </div>
        <!-- Tags -->
        <div class="d-flex">
        <span class="badge badge-pill bg-secondary px-3 py-2 fw-bold" *ngFor="let tag of tags; let index = index">
          {{tag.raw_text}}
          <span class="pointer-event mx-1" style="cursor: pointer;" (click)="tags.splice(index, 1)">
            <i class="bi bi-x-lg"></i>
          </span>
        </span>
        </div>
        <div>
          <app-tags-selector (onChangeTags)="tags=$event"></app-tags-selector>
        </div>
        <div class="my-5 row border-top">
          <div class="col p-4 text-center">
            <button class="btn btn-success btn-sm" type="submit">
              <i class="bi bi-save"></i>
              {{'save' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </app-spinner-loader>
</div>
