<div class="container bg-white my-5 py-4 px-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loader; else spinner">
    <div class="mb-4 border-bottom">
      <h4 class="h4">
        New question
      </h4>
    </div>
    <app-topic-selector (onTopicSelection)="onTopicSelected($event)"></app-topic-selector>
    <app-book-selector [topicSelected]="topicSelectionSubject" (onBookSelection)="onBookSelected($event)"></app-book-selector>
    <app-lesson-selector [bookSelected]="bookSelectionSubject" (onLessonSelection)="lessonSelected=$event"></app-lesson-selector>

    <!-- Question title -->
    <div class="form-group my-2">
      <label class="small">Title</label>
      <textarea class="form-control" formControlName="questionTitle" maxlength="255"></textarea>
    </div>
    <!-- Answers -->
    <div class="pt-4" formArrayName="answers">
      <div *ngFor="let answer of answers().controls; let i = index;">
        <div class="row align-items-center my-2" [formGroupName]="i">
          <!-- Answer text -->
          <div class="col-10">
            <input class="form-control form-control-sm" type="text" formControlName="text" placeholder="Answer {{i+1}}" maxlength="255"/>
          </div>
          <!-- Answer result -->
          <div clasS="col-1">
            <div class="row">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="result"/>
                <label class="form-check-label">
                  Right
                </label>
              </div>
            </div>
          </div>
          <!-- Remove -->
          <div class="col-1">
            <div class="row justify-content-end">
              <button class="btn btn-danger btn-sm" type="button" (click)="removeAnswer(i)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end my-3">
      <button type="button" class="btn btn-primary btn-sm" (click)="addNewAnswer()">
        <i class="bi bi-plus-square"></i>
        Add answer
      </button>
    </div>
    <!-- Help -->
    <app-help-selector [topic]="topicSelected" (onSelectHelp)="addHelp($event)" *ngIf="topicSelected"></app-help-selector>
    <div class="row" *ngIf="helps.length">
      <div class="col px-2">
        <div class="row py-2 border-bottom">
          <h6 class="h6">Helps for question</h6>
        </div>
        <div class="row py-3" *ngFor="let help of helps">
          <div class="col-9 small font-italic">
            {{help.title}}
          </div>
          <div class="col-3 align-self-center">
            <div class="row justify-content-end">
              <button class="btn btn-danger btn-sm" type="button">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Observations -->
    <div class="form-group my-3">
      <label class="small">Observations</label>
      <input class="form-control form-control-sm" formControlName="questionObservations" maxlength="255"/>
    </div>
    <!-- Tags -->
    <div class="row px-3">
      <div class="col">
        <div class="row justify-content-end">
          <app-tags-selector (onChangeTags)="tags=$event"></app-tags-selector>
        </div>
        <div class="row">
            <span class="badge badge-pill badge-secondary px-3 py-2 font-weight-light" *ngFor="let tag of tags; let index = index">
              {{tag.raw_text}}
              <span class="pointer-event mx-1" style="cursor: pointer;" (click)="tags.splice(index, 1)">
                <i class="bi bi-x-lg"></i>
              </span>
            </span>
        </div>
      </div>
    </div>
    <div class="my-5 pt-3 row justify-content-center border-top">
      <button class="btn btn-success btn-sm" type="submit">
        <i class="bi bi-save"></i>
        Save
      </button>
    </div>
  </form>
  <ng-template #spinner>
    <div class="text-center p-5 m-5">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
