<div class="row">
  <div class="col">
    <div class="form-group">
      <label class="form-label small">
        {{'topic' | translate}}
      </label>
      <select
        class="form-select form-select-sm"
        [(ngModel)]="topicSelected"
        [ngModelOptions]="{standalone: true}"
        (change)="onChangeTopic()"
        [disabled]="loader">
        <option [ngValue]="topic" *ngFor="let topic of topics; let index = index">
          {{topic.description}}
        </option>
      </select>
    </div>
  </div>
</div>
