<div class="container bg-white my-5 py-4 px-5">
  <div *ngIf="!loader; else spinner">
    <div class="row card p-3 my-2" *ngFor="let question of questions">
      <div class="col-12">
        <div class="row">
          <h5 class="h5">{{question.title}}</h5>
        </div>
        <div class="row font-italic">
          {{question.topic?.description}}
        </div>
        <div class="row small text-secondary" *ngIf="question.observations">
          {{question.observations}}
        </div>
        <div class="row px-2 my-2 justify-content-end">
          <button class="btn btn-success btn-sm" (click)="viewQuestion(question)">
            <i class="bi bi-eye"></i>
            View question
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <div class="text-center p-5 m-5">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
