<div class="row">
  <div class="col">
    <div class="form-group">
      <label class="form-label small">
        {{'lesson' | translate}}
      </label>
      <select
        class="form-select form-select-sm"
        (change)="onChangeLesson()"
        [(ngModel)]="lessonSelected"
        [ngModelOptions]="{standalone: true}"
        [disabled]="loader">
        <option [ngValue]="lesson" *ngFor="let lesson of lessons">
          {{lesson.description}}
        </option>
      </select>
    </div>
  </div>
</div>
