<div class="row">
  <div class="col text-end">
    <button class="btn btn-primary btn-sm" type="button" (click)="openModal()">
      <i class="bi bi-patch-question-fill"></i>
      {{'selectHelp' | translate}}
    </button>
  </div>
</div>
<ng-template #helpSelectorModal>
  <app-spinner-loader [loader]="loader">
    <div content class="p-4">
      <div class="row mb-4 border-bottom mx-2">
        <h4 class="h4 text-secondary">
          {{'helpSelection' | translate}}
        </h4>
      </div>
      <div class="row p-4 my-4 mx-2 border" *ngFor="let help of helps">
        <div class="col-8">
          <h6 class="h6 font-weight-bold">{{help.title}}</h6>
        </div>
        <div class="col-4 align-self-center">
          <div class="row justify-content-end">
            <button class="btn btn-success btn-sm" type="button" (click)="select(help)">
              {{'select' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </app-spinner-loader>
</ng-template>
